.qcw-room-avatar{max-width:0px;max-height:0px;position:absolute;top:50%;left:0px;transform:translateY(-50%);border-radius:50%}
.loader{border-radius:50%;width:20px;height:20px;border:3px solid hsla(0,0%,100%,.3);border-top-color:hsla(0,0%,100%,.7);display:inline-block;animation:rotate .9s linear infinite;vertical-align:middle;margin-right:10px}
@keyframes rotate{0%{transform:rotate(0deg)}to{transform:rotate(1turn)}}
.image-container{height:100px}
.reload-image-btn{display:block;width:100%;margin:10px 0;padding:7px 15px;text-align:center;cursor:pointer;background:#eee;color:#fff;border:2px solid #fff;font-weight:700;border-radius:5px;color:#444}
.qc-icon{display:inline-block;width:1em;height:1em;fill:#fff}
.qc-icon--light{fill:#fff}
.comment__carousel[data-v-23166a5c]{position:relative}
ul.carousel__bullets[data-v-23166a5c],ul.qcw-carousel__nav[data-v-23166a5c]{list-style:none;overflow:hidden;text-align:center}
ul.carousel__bullets li[data-v-23166a5c]{display:inline-block;cursor:pointer;margin:5px 10px;color:#999;vertical-align:middle}
ul.carousel__bullets li.active[data-v-23166a5c]{font-size:24px;font-weight:700;color:#3498db}
ul.qcw-carousel__nav li[data-v-23166a5c]{position:absolute;top:50%;transform:translateY(-50%);background:#fff;border-radius:50%;padding:0 5px;box-shadow:0 0 7px rgba(0,0,0,.3);cursor:pointer}
ul.qcw-carousel__nav li[data-v-23166a5c]:nth-child(1){left:0}
ul.qcw-carousel__nav li[data-v-23166a5c]:nth-child(2){right:0}
#qiscus-sdk-sprite{display:none}.qcw-participants{list-style:none;margin:0;padding:0}
.qcw-participants li{line-height:1.9em;border-bottom:1px dotted #ccc;margin:0;padding:15px 10px}
.qcw-participants li:hover{cursor:pointer;background:rgba(0,0,0,.1)}
.qcw-participants small,.qcw-participants strong{display:block}
.load-more-button{background:#ccc;padding:10px;text-align:center;cursor:pointer;font-size:12px;border-radius:30px;width:170px;margin-left:auto;margin-right:auto;margin-bottom:10px}
.qcw-modal-overlay{position:fixed;top:0;left:0;width:100%;height:100%;display:none;z-index:9999;background:rgba(0,0,0,.7)}
.qcw-modal-overlay--on{display:block}.qcw-image-modal{max-width:80%;max-height:80vh;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);background:#fff;box-shadow:0 0 17px rgba(0,0,0,.5)}
.qcw-image-modal img{max-width:100%;display:block}
.qcw-image-modal i{position:absolute;top:-30px;color:#fff;text-shadow:0 0 15px rgba(0,0,0,.3);font-size:20px;cursor:pointer}
.qcw-image-modal i .qc-icon{fill:#fff}
.qcw-image-modal i.icon--close{right:0}
.qcw-image-modal i.icon--link-out{right:30px}
#qcw-app *{box-sizing:border-box}
#qcw-app{font-family:sans-serif}
#qcw-app.qcw-app--wide-mode{width:100%;height:100%;position:relative}
.ejs-image.ejs-embed{display:none}
.widget-chat-wrapper{height:100%}
@media (max-width:700px){#qcw-app .qcw-container.qcw-container--open{width:100%;height:100%;bottom:0;right:0;transform:translateY(0);overflow:hidden}ul#messages__comments{height:calc(100vh - 98px)!important}}
.qcw-trigger-btn{position:fixed;bottom:5px;right:5px;border:0;border-radius:15px;background:#662D91;color:#ecf0f1;font-weight:700;padding:10px 25px;cursor:pointer;transition:all .12s ease;box-shadow:0 3px 7px rgba(0,0,0,.3);text-shadow:0 -1px 0 rgba(0,0,0,.3);outline:none}
.qcw-trigger-btn:hover{transform:translateY(-3px)}
.qcw-app--wide-mode .qcw-trigger-btn{display:none}
.qcw-trigger-btn .qc-icon{vertical-align:middle}
.qcw-container{width:400px;height:500px;position:fixed;bottom:50px;right:5px;border-radius:5px;background:#fff;box-shadow:0 3px 15px rgba(0,0,0,.3);transform:translateY(150%);transition:transform .32s ease;font-family:sans-serif}
.qcw-container--open{transform:translateY(0)}
.qcw-app--wide-mode .qcw-container{width:100%;height:100%;position:relative;top:0;left:0;bottom:auto;transform:translateY(0);overflow:hidden}
.qcw-header{background:#662D91;color:#ecf0f1;padding:12px 20px 18px 5px;border-radius:5px 5px 0 0;text-shadow:0 -1px 0 rgba(0,0,0,.3);font-weight:900;position:relative}
.qcw-header i{position:absolute;cursor:pointer;right:10px;top:15px}
.qcw-app--wide-mode .qcw-header i{display:none}
.qcw-container .messages{flex:3;display:flex;flex-flow:column;background:#444}
ul#messages__comments{list-style:none;background:#fff;margin:0;height:402px;overflow:hidden;overflow-y:auto;padding:6px 0px}
.qcw-app--wide-mode ul#messages__comments{height:calc(100% - 100px)}
ul#messages__comments::-webkit-scrollbar{width:9px;background-color:#ddd;opacity:.3}
ul#messages__comments::-webkit-scrollbar:hover{transition:opacity .32s ease;opacity:1}
ul#messages__comments::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:ul#messages__comments::-webkit-scrollbar-thumb}
.qcw-comment-form{background: #662D91;overflow:hidden;position:relative;height:50px;padding:10px}
.qcw-comment-form *{box-sizing:border-box}
.qcw-comment-form .uploader{position:absolute;bottom:13px;right:7px}
.qcw-comment-form textarea{width:calc(100% - 70px);border:0;font-family:inherit;font-size:14px;padding:7px 10px;max-height:100%;resize:none;outline:none}
.qcw-upload-info{padding:7px 10px;border-radius:10px;background:#92d2cc;color:#444;font-size:10px;text-align:center;max-width:200px;margin:0 auto}
.isTypingText{position:absolute;text-align:left;bottom:5px;font-size:10px;text-shadow:none}
.comment-loading-container{position:absolute;top:0;left:0;background:rgba(0,0,0,.7);width:100%;height:100%;z-index:999}
.comment-loading-container .loader{border-width:15px;position:absolute;display:block;top:50%;margin-top:-75px;left:50%;margin-left:-75px}
.qcw-form-actions{position:absolute;top:-9px;right:5px;display:flex}
.qcw-form-actions li{width:35px;height:35px;border-radius:50%;cursor:pointer;display:flex;flex-direction:column;justify-content:center;align-items:center}
.qcw-form-actions li:hover{background:#4db6ac}
.qcw-form-actions li:hover .qc-icon{fill:#fff}
.qcw-form-actions i{font-size:15px;color:#666;cursor:pointer;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.qcw-attachment__actions{position:absolute;bottom:50px;right:-150%;list-style:none;margin:0;transition:all .32s ease}
.qcw-attachment__actions li{position:relative;width:35px;height:35px;cursor:pointer;background:#c4c4c4;border-radius:50%;color:#505050;margin-bottom:10px;transition:all .32s ease;display:flex;justify-content:center;align-items:center}
.qcw-attachment__actions li:hover{background:#4db6ac;color:#fff}
.qcw-attachment__actions i{font-size:15px;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%)}
.qcw-attachment__actions input{opacity:0;width:100%;height:100%;position:absolute;top:0;left:0;cursor:pointer}
.qcw-attachment__actions.qcw-attachment__actions--active{right:20px}.qcw-attachment__label{opacity:0;transition:all .32s ease;background:#c4c4c4;color:#444;padding:5px 15px;font-size:13px;position:absolute;top:5px;right:45px;border-radius:30px}
.qcw-attachment__actions li:hover .qcw-attachment__label{opacity:1}
.qcw-goto-bottom i{color:#8a8a8a;display:inline-block;vertical-align:middle;line-height:30px;cursor:pointer}
.qcw-goto-bottom{background:#fff;color:#444;width:30px;height:30px;border-radius:50%;box-shadow:0 3px 5px rgba(0,0,0,.3);border:1px solid #ececec;position:absolute;z-index:400;bottom:70px;right:15px;text-align:center;transition:all .32s ease;transform:translateX(250%)}
.widget-chat-wrapper:hover .qcw-goto-bottom{transform:translateX(0)}
.qcw-comment .qcw-avatar{min-width:30px;margin-right:5px;position:relative;z-index:2;width:36px!important;height:36px!important;border-radius:50%;overflow:hidden}
.qcw-comment .qcw-avatar.qcw-avatar--hide{visibility:hidden}
.comment--parent .qcw-avatar{top:9px}
.qcw-comment.comment--me .qcw-avatar{margin-right:0;margin-left:-30px}
.qcw-comment .qcw-avatar img{width:0px!important;height:0px!important}
.qcw-comment{display:flex;position:relative;font-size:12px}
.qcw-comment.welcome:before{border:0}
.qcw-comment.comment--me{justify-content:flex-end}
.qcw-comment__content{white-space:pre-wrap;word-break:break-word;word-wrap:break-word;padding-right:50px;font-size:13.6px}
.qcw-comment__message{line-height:1.7em;min-height:30px;margin-bottom:10px;max-width:70%;background:#fff;padding:10px;position:relative;word-break:break-word;box-shadow:0 3px 5px rgba(0,0,0,.2);color:#444;text-align:left}
.qcw-comment__message a{transition:all .32s ease;color:#039be5;text-decoration:underline}
.comment--me .qcw-comment__message{background:#d0c9cp;color:#444}
.comment--parent .qcw-comment__message{border-radius:8px 8px 8px 0;margin-top:9px;min-width:200px;padding:10px}
.comment--parent.comment--me .qcw-comment__message{border-radius:8px 0 0 8px}
.comment--mid .qcw-comment__message{border-radius:0 8px 8px 0}
.comment--mid.comment--me .qcw-comment__message{border-radius:8px 0 0 8px}
.comment--last .qcw-comment__message{border-radius:0 8px 8px 8px}
.comment--last.comment--me .qcw-comment__message{border-radius:8px 0 8px 8px}
.comment--parent.comment--last .qcw-comment__message{border-radius:8px 8px 8px 8px}
.comment--parent.comment--me .qcw-comment__message:after,.comment--parent .qcw-comment__message:after{position:absolute;top:0;pointer-events:none;content:" ";height:0;width:0;border:8px solid transparent;border-top-color:#fffcd8}
.comment--parent .qcw-comment__message:after{left:-8px;border-top-color:#fff}
.comment--parent.comment--me .qcw-comment__message:after{left:auto;right:-8px}
.welcome__message{padding-top:5px;line-height:1.7em;min-height:68px;padding-bottom:15px;margin-bottom:15px;width:100%;background:#f4f4f4;padding:10px;border-radius:5px;position:relative;box-shadow:0 3px 5px rgba(0,0,0,.15)}
.qcw-comment__message p{margin:0}
.qcw-comment__info{display:flex;justify-content:space-between;border-bottom:1px dotted #ccc;margin-bottom:7px}
.qcw-comment__username{font-weight:700;line-height:1;color:#444}
.qcw-comment__time{font-size:10px;color:#888}
.qcw-comment__time--children{position:absolute;bottom:9px;right:10px}
.qcw-comment__time--attachment{position:absolute;bottom:-5px;right:10px}
.qcw-image-container{height:100px;overflow:hidden;border-radius:0 0 5px 5px}
.qcw-image-container img{min-width:200px;min-height:110px;max-width:100%;cursor:-webkit-zoom-in}
.qcw-image-container img:hover{opacity:1}
.qcw-file-container{border:1px solid rgba(0,0,0,.1);background:hsla(0,0%,100%,.3);border-radius:5px;padding:10px}
.comment--last .qcw-file-container,.qcw-file-container .comment-mid{margin:10px 0}
.qcw-file-container a{display:inline-block;color:#2c3e50}
.qcw-file-container i{position:relative;font-size:3em;color:#2c3e50;float:left;margin-right:10px}
.qcw-file-container i .qc-icon{fill:#555}
.qcw-file-container .file-name{word-break:break-word;line-height:1.4;float:left;padding-top:5px;padding-left:5px}
.qcw-comment__state{font-size:11px;position:absolute;top:7px;left:-15px;color:#ccc;transition:opacity .32s ease;opacity:.3}
.qcw-comment__state .qc-icon:last-child{margin-right:-5px}
.qcw-comment__message:hover .qcw-comment__state{opacity:1}
.qcw-comment__state--read .qc-icon{fill:#3498db}
.qcw-comment__state .icon--resend{fill:red;cursor:pointer}
.qcw-comment-date{text-align:center;color:#444;font-size:.8em;font-weight:700;margin:10px 0}
.ejs-embed{overflow:hidden;margin-top:15px;margin-bottom:25px;min-width:250px}
.ejs-embed .ejs-ogp-title{margin:0 0 6px}
.ejs-embed .ejs-ogp-title a{color:#444;text-decoration:none;font-weight:700}
.ejs-embed .ejs-ogp-thumb{width:50px;height:50px;float:left;margin-right:10px}
.ejs-embed .ejs-ogp-details{left:55px}
.ejs-ogb-details{line-height:1.2em;max-height:3.6em;overflow:hidden;position:relative;margin-right:-1.5em;padding-right:1em}
pre{background:#ccc;padding:5px}
code{background:transparent}.action_buttons{background:#e5e5e5;padding:10px;margin:10px -10px -10px;display:flex;justify-content:space-between;border-top:1px solid rgba(0,0,0,.05)}
.action_buttons a,.action_buttons button{flex-grow:1;border:0;color:#2d9cdb;font-weight:700;background:transparent;cursor:pointer;display:inline-block;margin:0 auto;text-align:center;text-decoration:none;font-size:1.2em}
.action_buttons a:hover,.action_buttons button:hover{color:#8bd5f9}
.reply-wrapper{border-radius:4px;background-color:#f4f2cc;padding:10px 10px 10px 20px;position:relative;font-size:12px;text-align:left;color:#757575;max-height:150px;overflow:hidden;scroll-behavior:smooth;margin-bottom:10px}
.reply-preview .reply-wrapper{margin-bottom:0}
.reply-wrapper:after{content:'';position:absolute;top:10px;left:10px;width:4px;height:calc(100% - 20px);background:#009688;border-radius:100px}
.reply-sender{font-size:14px;text-align:left;color:#009688}
.reply-preview{position:absolute;bottom:40px;width:100%;max-height:50%;line-height:1.7em;overflow-y:scroll;scroll-behavior:smooth;z-index:2}
.reply-preview__close-btn{position:absolute;top:9px;right:5px;cursor:pointer;color:#aaa}
.reply-btn{position:absolute;right:-20px;border-radius:50%;color:#fff;padding-left:3px;top:8px;display:none;cursor:pointer}
.reply-btn .qc-icon{fill:#999}
.reply-btn.reply-btn--me{right:auto;left:-40px}
.qcw-comment-container:hover .reply-btn{display:block}
.reply-image-preview{overflow:hidden}
.reply-image-preview img{float:left;width:90px}
.reply-image-preview span{display:block;overflow:hidden;padding-left:10px;text-overflow:ellipsis}
.reply-sender+div{word-break:break-word;white-space:pre-wrap;line-height:1.9em}
.qcw-comment-container{text-align:center}
.qcw-comment--system-event{background:#f4f2cc;font-size:12px;padding:5px 30px;border-radius:50px;box-shadow:0 1px 7px rgba(0,0,0,.1);display:inline-block;margin:10px auto}
.comment__card--container{width:260px}
.comment__card--image{height:170px;background-color:#7d7d7d;background-size:cover;margin:-7px -10px 0}
strong.comment__card--title{line-height:3em;font-size:13px;display:block}
.slide-y{transition:all .32s ease}
.slide-y-enter,.slide-y-leave-to{opacity:0;transform:translateX(30px)}
.slide-y-leave-active{position:absolute}
.qcw-carousel__nav i{display:flex;justify-content:center;align-items:center;width:12px;height:20px}
.qcw-carousel__item .comment__card--container{padding:10px;box-shadow:0 3px 7px rgba(0,0,0,.3);overflow:hidden;transition:all .32s ease}
.qcw-comment--contact_person i.fa{font-size:1.5em;vertical-align:middle;line-height:1.3em}
.qcw-comment--contact_person strong{font-size:1.3em}
/*# sourceMappingURL=qiscus-sdk.2.5.9.css.map*/
